* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #292d3b;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchArtist .search-field {
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 28px;
  margin-top: 2rem;
  width: 90%;
}

.search-button {
  display: flex;
  padding: 12px 30px;
  background-color: #6d57cf;
  width: 80%;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  height: 75px;
  align-items: center;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.search-button:hover {
  background-color: #da4c20;
  transition: 0.5s;
}

.card {
  background-color: #4c4f5b;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 30px;
  color: #c2c2c2;
}
.card img {
  border-radius: 15px;
}
.card h1 {
  color: white;
  font-size: 23px;
  margin-top: 15px;
  font-weight: 600;
}
.card p {
  color: #c2c2c2;
  font-size: 16px;
  font-weight: 400;
}

.btn-generation {
  background-color: #6d57cf;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 28px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 0 25px 0;
  flex-direction: column;
}

.mood-playlist h2 {
  margin-top: 2rem;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-left: 2rem;
}

.select-container {
  background-color: #6d57cf;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 28px;
  margin-top: 2rem;
  margin-left: 2rem;
}
.select-container option {
  font-size: 14px;
}

.proposition-card {
  background-color: #2d354a;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 28px;
  margin-top: 1.8rem;
}
.proposition-card h1 {
  font-size: 50px;
}
.proposition-card button {
  background-color: #6d57cf;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 28px;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}
